.pokemon {
  padding-bottom: 17px;
  text-align: center;
  width: 200px;
  margin: 10px;
}

.imageListElement {
  height: 60%;
  width: 60%;
  margin-bottom: 20px;
}

/* .pokemon :hover { */
/*   background-color: lightgray; */
/* } */
