.menu {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #566cd6;
  padding-top: 20px;
  text-align: center;
}

.logoImg {
  height: 7%;
  margin-bottom: 45px;
  margin-left: center;
  vertical-align: middle;
  cursor: pointer;
}

@media (max-width: 770px) {
  .menu {
    display: none;
  }
}
