.profileImg {
  width: 50%;
}

.info {
  text-align: center;
}

.userName {
  color: white;
  margin: 15px;
}

.userLevel {
  margin: 15px;
  color: #f2f4ff;
  font-size: 0.9rem;
}

.userQuote {
  color: #f2f4ff;
  font-size: 0.8rem;
}
