.logOutButton {
  padding: 10px;
  color: #f2f4ff;
  font-weight: bold;
  background-color: #9fafff;
  border-radius: 6px;
  width: 87%;
  border: none;
  margin-top: 150px;
  cursor: pointer;
}

.logOutIcon {
  float: left;
  width: 10%;
}
