.nav {
  margin: 15px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.search {
  border-radius: 16px;
  border: none;
  box-shadow: 0.5px 0.5px 5px 0.2px rgba(86, 108, 214, 0.5);
  padding-left: 12px;
  height: 30px;
}

.blueButton,
.searchBlueButton {
  border-radius: 16px;
  background-color: #566cd6;
  border: none;
  position: relative;
  cursor: pointer;
}

@media (max-width: 770px) {
  .searchBlueButton {
    display: none;
  }
  .search {
    width: 70%;
  }
  .nav {
    margin: 0;
  }
}
